#Node-Explorer{
  display: flex;
  flex-flow: column;
  border:1px solid black;
  height:100%;
  width:29%;
}

.Heading{
  display:flex;
  flex-direction:column;
  align-items:center;
  height: 40px;
}

.header{
  font-size: 18px;
  padding: 8px;
}

#Nodes{
  overflow:auto;
  height: 100%;
  padding:0 50px;
}
