#Node-Options{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

#Add-Node{
  padding:0 5px;
}

#Remove-Node{
  height:12px;
  padding: 0 5px;
}

#Child-Node{
  width:100%;
  margin:0 0 0 30px;
}
