.node-explorer{
  width:25%;
  background-color:#11131F;
  padding: 10px 30px;
  overflow: auto;
}

.node-contianer{
  position:relative;
  width:100%;
}

.node-selected{
  height: 27px;
  width: 8px;
  background: #b1b1b1;
  position: absolute;
  border-radius:6px 0 0 6px;
}

.node-descripition{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items:center;
  height:27px;
  width:100%;
  padding:0 10px;
  margin:10px 0;
  border-radius:6px;
  background-color:#2C2B3C;
}

.node-descripition > * {
  color:#b1b1b1;
  cursor:default;
}

.child-contianer{
  width:90%;
  margin:0 0 0 10%;
}
