/* .CodeMirror.cm-s-darcula.CodeMirror-wrap {
    height: 900px !important;
} */
/* .CodeMirror {
    border: 1px solid #eee;
    height: auto;
} */
/* .CodeMirror {
    font-family: monospace;
    min-height: 100%;
    height: 100% !important;
    color: purple !important;
    background-color: yellow;
    direction: ltr;
} */
  
.i-wanna-die {
    height: 900px
}