.file-handling{
  display:flex;
  justify-content:center;
  align-items:center;
}
.file-handling-button {
  height: 12px;
  padding: 0px 3px;
  line-height: 10px;
  font-size: 16px;
}

#Overlay-Content{
  border:0;
  width:100%;
  height:100%;
  background: transparent;
}
#Overlay-Content:focus{
  outline-width: 0;
}

