.App {
  text-align: center;
  max-height:100vh;
  max-width:100vw;
  height:100vh;
  width:100vw;
}
.outer-container{
  padding:15px;
  height:100%;
  width:100%;
}

div.Vertical-Divider{
  padding:0px;
  height:1px;
  width:90%;
  background-color:black;
}
