.text-area{
  position:relative;
  background-color:#01060E;
  width:75%;
  display:flex;
  flex-direction:column;
}

.Controls-Container{
  height: 72px;
  padding: 18px 56px;
  flex:1 0 auto;
}
 
.Controls-Container > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2C2B3C;
  flex-wrap:wrap;
}

.StyleButton-Active{
  font-weight: bold;
}
.StyleButton {
  flex: 1 1 auto;
  font-size:100%;
  color:#E5E5E5;
  background-color: transparent;
  border:0;
}

.editor-container{
  width: 100%;
  flex:50 1 auto;
  padding: 10px 56px;
  overflow-y:auto;
}

div.DraftEditor-root {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  text-align:left;
  color:white;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
.blank-page{
  display:flex;
  justify-content:center;
  align-items:center;
  color:#b1b1b1;
  height: 100%;
  font-size: 24px;
  font-weight: bolder;
}
