.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: rgb(29, 85, 190);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
